version: "3.9"

services:
  db:
    image: postgres:17
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: bahram
      POSTGRES_PASSWORD: bahram
      POSTGRES_DB: testdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U bahram"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  web:
    build: .
    container_name: django_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_NAME: testdb
      DATABASE_USER: bahram
      DATABASE_PASSWORD: bahram
      DATABASE_HOST: db
      DATABASE_PORT: 5432
    restart: always

volumes:
  postgres_data:
